.container {
    margin: auto;
    height: auto;
    width: 700px;
    /*border: red 1px solid;*/
}

.title {
    margin: 20px auto;
    height: 40px;
    width: 400px;
    background-color: #fff;
    /*border: red 1px solid;*/
    text-align: center;
		display: block;
}

.title h1 {
    margin: 2px 2px;
}
.details	{
    margin: 20px 0px;
		padding: 0px 10px;
    height: 350px;
    width: 300px;
    background-color: #fff;
    border: black 1px solid;
    float: left;
}

.bigBox	{
    margin: 20px 20px;
		/*padding: 0px 10px;*/
    height: 300px;
    width: 300px;
    float: right;
}

.charges	{
    margin: 0 0 10px 0;
		padding: 0px 10px;
    height: auto;
    width: 100%;
    background-color: #fff;
    border: black 1px solid;
    display: block;
}

.earnings	{
		padding: 0px 10px;
    height: auto;
    width: 100%;
    background-color: #fff;
    border: black 1px solid;
    display: block;
}
